<html>
    <head>
        <style></style>
    </head>
    <body>
        <div>
            <p>Hi, {{name}}</p>
            <p>You requested a reset password link</p>
            <p>You can reset your password by clicking following link</p>
            <a href={{link}}>Reset Password</a>
        </div>
    </body>
</html>